@import "tailwindcss";

:root {
  --primary: #2563eb;
  --bg-color: #ffffff;
  --text-color: #1e293b;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}